@font-face {
  font-family: "Tektur";
  src: url("../fonts/Tektur-Regular.woff2") format("woff2"),
    url("../fonts/Tektur-Regular.woff") format("woff"),
    url("../fonts/Tektur-Regular.svg#Tektur-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, sans-serif;
  margin: 5%;
  background-color: #f7f7f7;
  color: #333;
}

header {
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 15px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #ffffff 51%,
    #003973 100%
  );
  padding: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
}

header:hover {
  background-position: right center; /* change the direction of the change here */
  color: #000000;
}

h1,
h2 {
  font-family: "Tektur";
  font-weight: 600;
  font-style: normal;
}

header p {
  font-family: "Tektur";
  font-weight: 400;
  font-style: normal;
}

header li a {
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
  background-color: lightblue;
  list-style: none;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}

header li a:hover {
  opacity: 0.5;
  color: black;
}

section {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 0.5em;
  color: #666;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 20px 0;
}

.tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #00bfa5;
}

.tecnologia i {
  font-size: 30px; /* Tamaño del icono */
  margin-bottom: 8px;
  color: #00bfa5;
}

.tecnologia span {
  font-family: "Tektur";
  font-size: 0.7em;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.icon {
  width: 20px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.redes li img {
  opacity: 0.5;
}

.redes li img:hover {
  opacity: 1;
}

li.tecnologia {
  border: 2px solid black;
  border-radius: 100%;
  padding: 15px;
  background-color: black;
}

li.tecnologia:hover {
  opacity: 0.5;
}
